@font-face {
  font-family: Shabnam, sans-serif;
  src: url("../fonts/Shabnam.woff") format("woff"),
  url("../fonts/Shabnam.woff2") format("woff2");
}

body {
  font-family: Shabnam, sans-serif;
}

@media screen and (max-width: 576px) {
  /* Header */
  .my-header {
    height: 30rem;
    padding: 1rem;
    background-color: #282c34;
    color: #61dafb;
  }

  .my-nav {
    height: 5rem;
    background-color: #61dafb;
    color: #282c34;
    border-radius: 4px;
  }

  /* section1 - description */
  .section1 {
    min-height: 100vh;
    background-color: #61dafb;
    color: #282c34;
  }

  /* section2 - icons */
  .section2 {
    height: 7rem;
    background-color: #282c34;
    color: #61dafb;
  }

  /* section3 - mobile picture */
  .section3 {
    height: 100vh;
    background-color: #61dafb;
    color: #282c34;
  }

  /* section4 - search hotels */
  .section4 {
    height: 20rem;
    background-color: #282c34;
    color: #61dafb;
  }

  /* section5 - app download */
  .section5 {
    height: 100vh;
    background-color: #61dafb;
    color: #282c34;
  }

  /* section6 - amadegi */
  .section6 {
    height: 20rem;
    color: #61dafb;
    background-color: #282c34;
  }

  /* section7 - ide */
  .section7 {
    height: 35rem;
    color: #282c34;
    background-color: #61dafb;
    position: relative;
  }
  .section7 .slider{
    height: 15rem;
    color: #61dafb;
    background-color: #282c34;
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
  }

  /* section8 - email */
  .section8 {
    height: 20rem;
    color: #61dafb;
    background-color: #282c34;
  }

  /* footer */
  .footer{
    height: 15rem;
    color: #282c34;
    background-color: #61dafb;
  }


}